# Enrich Standard Geographies

In the previous Notebook, we took advantage of the ability to enrich standard geographies using little more than the unique identifier for the geographies. We did not look up these standard geographies, though. The Geoenrichment module also provides the ability to look these up and also optionally use in conjunction with the `enrich` method.

## Example Use Case - Variable Variance

Just as before, we are going to retrieve high variance variables, but this time we are going to also look up the unique identifiers for all the US Census Block Groups in Seattle.

### Create a Country

Just as in the previous example Geoenrichment notebooks, our analysis starts with identifying the country we are going to be working with and instantating an `arcgis.geoenrichment.Country` object referencing an `arcgis.gis.GIS` source to use for analysis.

In [112]:
import os

from arcgis.geoenrichment import Country
from arcgis.gis import GIS

gis_agol = GIS(os.getenv('AGOL_URL'), username=os.getenv('AGOL_USERNAME'), password=os.getenv('AGOL_PASSWORD'))
usa = Country('usa', gis=gis_agol)

usa

### Selecting Data to Start

Just as before, we are using Pandas data frame filtering to identify a subset of variables to focus on from the thousands available.

In [113]:
enrich_vars = usa.enrich_variables[
    (usa.enrich_variables.name.str.lower().str.contains('cy'))
    & (
        (usa.enrich_variables.data_collection == 'occupation')
        | (usa.enrich_variables.data_collection == 'Wealth')
        | (usa.enrich_variables.data_collection == 'financial')
        | (usa.enrich_variables.data_collection == 'educationalattainment')
        | (usa.enrich_variables.data_collection == 'language')
        | (usa.enrich_variables.data_collection == 'healthinsurancecoverage')
        | (usa.enrich_variables.data_collection == 'veterans')
        | (usa.enrich_variables.data_collection == 'yearmovedin')
        | (usa.enrich_variables.data_collection == 'yearbuilt')
        | (usa.enrich_variables.data_collection == 'population')
        | (usa.enrich_variables.data_collection == 'occupation')
        | (usa.enrich_variables.data_collection == 'housingcosts')
    )
].drop_duplicates('name').reset_index(drop=True)

enrich_vars

          name                                     alias  ... vintage  units
0     TOTHH_CY                     2021 Total Households  ...    2021  count
1     HINC0_CY                    2021 HH Income <$15000  ...    2021  count
2    HINC15_CY               2021 HH Income $15000-24999  ...    2021  count
3    HINC25_CY               2021 HH Income $25000-34999  ...    2021  count
4    HINC35_CY               2021 HH Income $35000-49999  ...    2021  count
..         ...                                       ...  ...     ...    ...
92  OCCFARM_CY       2021 Occupation: Farm/Fish/Forestry  ...    2021  count
93  OCCCONS_CY  2021 Occupation: Construction/Extraction  ...    2021  count
94  OCCMAIN_CY       2021 Occupation: Maintenance/Repair  ...    2021  count
95  OCCPROD_CY               2021 Occupation: Production  ...    2021  count
96  OCCTRAN_CY    2021 Occupation: Transportation/Moving  ...    2021  count

[97 rows x 8 columns]

### Get the Geographic Level

Just as in the previous notebook, we are retrieving `levels` and using the `level_name` colum to discover valid values for the `enrich` method's `standard_geography_level` parameter.

In [114]:
usa.levels

      level_name             singular_name               plural_name                      alias        level_id admin_level
0   block_groups               Block Group              Block Groups               Block Groups  US.BlockGroups
1         tracts              Census Tract             Census Tracts              Census Tracts       US.Tracts
2         places                     Place                    Places  Cities and Towns (Places)       US.Places
3           zip5                  ZIP Code                 ZIP Codes                  ZIP Codes         US.ZIP5      Admin4
4            csd        County Subdivision       County Subdivisions        County Subdivisions          US.CSD
5       counties                    County                  Counties                   Counties     US.Counties      Admin3
6           cbsa                      CBSA                     CBSAs                      CBSAs         US.CBSA
7             cd    Congressional District   Congressional Districts    Congressional Districts           US.CD
8            dma                       DMA                      DMAs                       DMAs          US.DMA
9         states                     State                    States                     States       US.States      Admin2
10     whole_usa  United States of America  United States of America             Entire Country     US.WholeUSA      Admin1

## Retrive Seattle Block Groups

Although many times you may already have the standard geography unique identifiers, if you simply need to retrieve those within a larger area, you can retrieve these using `standard_geography_query`. The most versatile parameter in this method is `geoquery`. This method, since little more than a wrapper for the standard geography query REST endpoint, there is more explanation of the options for the `geoquery` parameter under the [geographyQuery parameter documentation](https://developers.arcgis.com/rest/geoenrichment/api-reference/standard-geography-query.htm#geographyQuery). We can start by seeing what is returned when searching for `seattle`.

In [157]:
from arcgis.geoenrichment import standard_geography_query

standard_geography_query('usa', layers='US.Places', geoquery='seattle')

       DatasetID Hierarchy DataLayerID   AreaID      AreaName  ... MajorSubdivisionAbbr MajorSubdivisionType CountryAbbr Score  ObjectId
0  USA_ESRI_2021    census   US.Places  5363000  Seattle city  ...                   WA                State          US   100         1

[1 rows x 11 columns]

Since only one location is returned, we can use this to retrieve the block groups by populating the `sub_geography` parameteters.

In [155]:
bg_df = standard_geography_query('usa', layers='US.Places', geoquery='seattle', sub_geography_layer='US.BlockGroups', return_sub_geography=True)

bg_df.info()
bg_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DatasetID             478 non-null    object
 1   Hierarchy             478 non-null    object
 2   DataLayerID           478 non-null    object
 3   AreaID                478 non-null    object
 4   AreaName              478 non-null    object
 5   MajorSubdivisionName  478 non-null    object
 6   MajorSubdivisionAbbr  478 non-null    object
 7   MajorSubdivisionType  478 non-null    object
 8   CountryAbbr           478 non-null    object
 9   Score                 478 non-null    int32
 10  ObjectId              478 non-null    int64
dtypes: int32(1), int64(1), object(9)
memory usage: 39.3+ KB

       DatasetID Hierarchy     DataLayerID        AreaID  ... MajorSubdivisionType CountryAbbr Score ObjectId
0  USA_ESRI_2021    census  US.BlockGroups  530330009001  ...                State          US   100        1
1  USA_ESRI_2021    census  US.BlockGroups  530330009002  ...                State          US   100        2
2  USA_ESRI_2021    census  US.BlockGroups  530330010001  ...                State          US   100        3
3  USA_ESRI_2021    census  US.BlockGroups  530330010002  ...                State          US   100        4
4  USA_ESRI_2021    census  US.BlockGroups  530330011001  ...                State          US   100        5

[5 rows x 11 columns]

## Enrich

Now, we can use the retrieved block groups as input into the `enrich` method to acheive the same results.

In [162]:
enrich_df = usa.enrich(bg_df, enrich_variables=enrich_vars, standard_geography_level='block_groups', standard_geography_id_column='AreaID')

enrich_df.info()
enrich_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Columns: 106 entries, std_geography_level to SHAPE
dtypes: float64(99), geometry(1), int32(1), object(5)
memory usage: 394.1+ KB

  std_geography_level std_geography_name std_geography_id  ... occprod_cy occtran_cy                                              SHAPE
0      US.BlockGroups      530330009.001     530330009001  ...        0.0       16.0  {"rings": [[[-122.28001399933198, 47.719146999...
1      US.BlockGroups      530330009.002     530330009002  ...        0.0        6.0  {"rings": [[[-122.27643999897352, 47.712159999...
2      US.BlockGroups      530330010.001     530330010001  ...        4.0       12.0  {"rings": [[[-122.2937919998337, 47.7119679995...
3      US.BlockGroups      530330010.002     530330010002  ...        5.0        8.0  {"rings": [[[-122.2908140002252, 47.7067909999...
4      US.BlockGroups      530330011.001     530330011001  ...       25.0       44.0  {"rings": [[[-122.30163299958835, 47.706698999...

[5 rows x 106 columns]

## Calculate Variance

Variation can now be calculated for the retrieved variables to identify those with exceedingly high variance, and follow on analysis can be used for feature selection or feature reduction to address covariance between variables and perform modeling.

Just as in the previous notebook, we can evaluate the variance and select the top variables.

In [163]:
# get just the enrich value columns
enrich_cols = [c for c in enrich_df if c in usa.enrich_variables.name.str.lower().values]
enrich_df = enrich_df.set_index('std_geography_id').loc[:,enrich_cols]

# get top 20 highest variance columns
top20 = enrich_df.var(ddof=0).sort_values(ascending=False).iloc[:20]
top20.name = 'variance'

# add human readable names
ev = usa.enrich_variables
ev.index = ev.name.str.lower()
top20_df = ev.join(top20, how='right').loc[:,['name', 'alias', 'variance']]

top20_df.info()
top20_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, aggdi_cy to pci_cy
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      58 non-null     object
 1   alias     58 non-null     object
 2   variance  58 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.8+ KB

                  name                             alias      variance
aggdi_cy      AGGDI_CY  2021 Aggregate Disposable Income  2.509823e+15
aggdi_cy      AGGDI_CY  2021 Aggregate Disposable Income  2.509823e+15
agghinc_cy  AGGHINC_CY          2021 Aggregate HH Income  5.218319e+15
agghinc_cy  AGGHINC_CY          2021 Aggregate HH Income  5.218319e+15
agghinc_cy  AGGHINC_CY          2021 Aggregate HH Income  5.218319e+15

## Continuing Analysis

From here, a variety of techniques can be used, but with so many income and net worth variables, before subsequent modeling steps, covariacne needs to be addressed. Using the Geoenrichment dramatically streamlines getting to this point, though. It provides extremely easy access to thousands of demographic variables for modeling and analysis directly in Python, making it easy to integrate with data engineering pipelines.