In [1]:
from demo_data import demo_data

In [3]:
df = demo_data.pdx_coffee_locations.df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LOCNUM  650 non-null    object
 1   SHAPE   650 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 10.3+ KB

In [3]:
keep_cols = [c for c in df.columns if 'id' in c.lower() or c == 'SHAPE' or c == 'LOCNUM']
df = df.loc[:,keep_cols]

df

        LOCNUM                                              SHAPE
0    105550909  {"x": -13661187.466078103, "y": 5686302.261006...
1    105633002  {"x": -13683283.32746541, "y": 5709438.5596519...
2    105759815  {"x": -13656422.54659419, "y": 5704599.4372188...
3    177692910  {"x": -13651479.293286022, "y": 5687492.553844...
4    180308389  {"x": -13640908.50575978, "y": 5706009.5641631...
..         ...                                                ...
645  975608142  {"x": -13642558.093634102, "y": 5727674.253938...
646  992212571  {"x": -13654355.677608632, "y": 5705334.506061...
647  996372082  {"x": -13674911.656479793, "y": 5703468.350132...
648  996388682  {"x": -13666351.632915748, "y": 5682056.173892...
649  996456521  {"x": -13674040.525804587, "y": 5709105.186949...

[650 rows x 2 columns]